[2020-04-08 02:50] dckc opened #1 "project name: rvote? rv2020"
it's kinda the obvious name. I find very little competition for this name; we'd come out on top of web searches right away.

I propose renaming this repo.

We could get more creative and use some name suggestive of honeybee democracy... rhive ... but that gets kinda obscure.

[2020-04-08 03:13] dckc opened #3 "license: MIT? Apache-2.0? copyright holder?"
In 93114e7 of Aug 2018 I used Apache 2 on o2r, following precedent of [rchain/rchain](https://github.com/rchain/rchain).

Earlier today @jimscarver chose MIT in 98d7b4c . That would probably be OK by me as well, but I'm not sure I hold the copyright to be able to change it. It's arguably work-for-hire that I did while under contract with rchain.coop, so we might need their OK to change the license

[2020-04-09 01:09] SteveHenley commented on #1
I certainly see the appeal for using RVote.  It resemble RSpace, RSong, and RCAT which were developed by RChain.  RVote, however, is an RChain community effort.  Perhaps there is a motivation to come up with a name that goes in a different direction.  Do we see this opportunity to naming the voting dapp as, perhaps, a way to create a new community brand?  There will be more dapps that follow.  Per

[2020-04-09 01:22] SteveHenley commented on #3
Perhaps at our next gathering I could get a little background history on this.  I could then approach the RChain staff to get their perspective.  It is good that we are discussing this since we are setting precedent with our action in these early days of RChain community development.

[2020-04-09 01:25] dckc commented on #3
Hm. you quoted the full background history. I can't think of anything else I would add.

And this is more of an exception that a precedent, I would think. I doubt most projects are going to start by copying a bunch of code that was written by somebody who was under contract with the coop when he wrote it.

[2020-04-10 00:46] jimscarver commented on #3
folks on the call suggested the mit licence. I did not notice it was changed. I have no preference.

[2020-04-10 00:50] jimscarver commented on #1
I have no objection to the name change.

[2020-04-10 03:09] dckc commented on #1
Steve's point about breaking out of the mold is a good one. I'm thinking it over.

[2020-04-11 15:46] entropee commented on #1
RevElector, Rhodecide, RhoTally, Rhotocracy, R-tocracy, RhoCount, Rholection, R-Chooz, Suff-rho-gatio, DemocRHOcy, EnumeRho, Waggle, RhoWaggle, waggleRho,  RhoVoto, Rhoferee, Rhoricle, just brainstorming. My muse must be taking the day off.

[2020-04-11 18:37] dckc commented on #1
I like **DemocRHOcy**, though it's weak on the telephone test (does the name get spelled the same way by B after A reads it and speaks it to B who writes it down?). For example, google spell-checks it to democracy.

**rhoferee** has some appeal. Google isn't so convinced it's just a typo for referee.

A big problem picking a name at this point is that we don't really know what we're making. In thi

[2020-04-13 19:38] SteveHenley commented on #1
Let's use a code name such as rv11 for now.  I agree, we need to figure out what we are building.

[2020-04-13 20:14] dckc commented on #1
done: https://github.com/rchain-community/rv11

with a redirect from https://github.com/rchain-community/voting

[2020-04-13 20:14] #1 closed, assigned to nobody

[2020-04-18 14:43] dckc commented on #1
reconsidered... https://github.com/rchain-community/rv2020

[2020-04-18 14:48] jimscarver opened #11 "add a rev staked token"
Issuing a rev-staked token for each rev deposited would:
1. prove ownership of staked rev
2. facilitate distribution of staking rewards
3. enable trading of staked rev

[2020-04-18 15:00] jimscarver opened #12 "use cross-chain transfer voting example as stating point."
https://github.com/rchain/rchain/blob/ce55a8adc349c05f62fb94fa028138ab93c71780/rholang/src/main/rholang/cross-shard.rho

The model of  mailboxes and ballots could be used with tickets / unforgeable names

[2020-04-18 15:15] dckc opened #13 "visual editing: Business Process Model And Notation bpmn.io"
file:///home/connolly/Desktop/dtc-10-06-02.pdf
https://www.omg.org/spec/BPMN/2.0/#docs-informative-supporting
https://bpmn.io/

people are still using it
https://forum.bpmn.io/t/create-a-new-property-panel-tab-and-add-dynamic-selectbox/4622

[2020-04-18 15:41] dckc commented on #11
wrong repo? did you mean rstake?

[2020-04-18 15:42] dckc commented on #11
also: staked rev could use normal Mints and purses and skip the vault tedium.

We need a locker thingy to go with it so we can get on/off chain via the registry.

[2020-04-24 22:09] dckc opened #14 "overlap with liquid democracy / rho-bot approach?"
@jimscarver I'm starting to think my o2r approach is more trouble than it's worth given that we have rho-bot.

https://github.com/jimscarver/rho-bot/blob/master/allowalltovote.rho
https://github.com/jimscarver/rho-bot/blob/master/allowalltovote.rho

[Trusted \+ Liquid Democracy\+ Prototype in RhoLang \- Google Docs](https://docs.google.com/document/d/14JJPWtrFxkxzHa1NAmwzhTmeQO1vJtKDOJgBB_MPyfY/ed

[2020-06-13 18:02] dckc opened #15 "zulip db structure"
this is mostly a place to host an image.

![message_table_screenshot](https://user-images.githubusercontent.com/150986/84575875-1ba89280-ad76-11ea-9b6e-526c35492277.png)

[2020-06-14 22:19] dckc opened #16 "iddb: rich query with cache invalidation"
idea: add a select method that takes a set of tables paired with key ranges for those tables and a "callback" channel. Return matching rows; then, when the DB changes such that this query might return different results, fire the callback.

problem: execution of the callback is charged to the deployer that made the DB change, and it cost an arbitrary amount.

another idea: keep a state generation c

[2020-06-14 22:21] dckc opened #17 "confidentiality"
yesterday @leithaus said we can encrypt data before putting it on the chain.

true, but
1. key management for group chat seems pretty complex (though keybase and signal seem to have done it) and
2. we can't decrypt unforgeable names.

see also https://github.com/rchain-community/rstake/issues/5

[2020-06-14 22:27] dckc opened #18 "secret ballot (stretch goal)"
I don't (yet?) see a way through these constraints:

  - each member should get at most one vote; no double-voting
  - a member wants to vote without disclosing their choice to other members
  - a member wants to vote without disclosing their choice to the coop secretary
  - the coop secretary should not disclose membership email addresses to other members
  - losing a private key should not resul

[2020-06-16 04:29] dckc opened #19 "mirror zulip chat messages to rchain in near-real-time"
So far (b5961e0) I just wrote them to a file and used https://github.com/tgrospic/rnode-client-js to deploy them manually.

Each trigger event should go all the way through to the chain. Perhaps batch them until things go quiet for ~5 seconds (or we have N queued up or we've been batching for M seconds).

My earlier attempt (ca21a1b) to do deploys from a service was buggy. But I got it working in

[2020-06-17 15:25] dckc opened #20 "discord OAuth integration for zulip to transition member identities"
My pitch to the Apr idea workshop was:

1. Short Title: rv2020 - rchain voting with discord integration
2. Short Description: Using discord OAuth integration, we can "springboard" discord identities into on-chain RChain coop membership voting rights, preserving a high degree of privacy.
3. Link: https://github.com/rchain-community/rv2020

But that link actually went to this repo, where the readme

[2020-06-17 17:18] dckc opened #21 "inbox with social key rotation"
This is an approach to one-member-one-vote #31 : an on-chain inbox where a "capability to vote" can be sent.

 - write / insert cap goes insertArbitrary in the registry
 - read cap goes @ `deployerId`
 - if that key is compromised, ask secretary to revoke it and issue another
 - if that key is lost
   - K-of-N voting to replace

a la

[All you need to know about uPort Identity management](https://

[2020-06-17 17:22] dckc opened #22 "identicons / jazzicons for zulip"
to give members confidence about who they're chatting with, set zulip avatars to identicon / blockies style images based on on-chain identifier (registry UI or public key) and disable changing them.

  - big visual change for even small change in identifier
  - strong cryptographic relationship to identifier

[jazzicon \- npm](https://www.npmjs.com/package/jazzicon)
[Wallet UI trick\- mock the Met

[2020-06-17 17:24] dckc opened #23 "django ORM driver for rchain"
zulip stores data in postgres via the django ORM. The django ORM has drivers for mysql etc. too. How about one for RChain?

This came up in a brainstorm with @leithaus a few days ago.

[2020-06-17 18:41] dckc opened #24 "restore zulip from on-chain mirror"
@leithaus asked if the on-chain mirror is sufficient to stand up another zulip server with the same history, ready to continue.

[2020-06-17 19:20] dckc commented on #18
@TheoXD has been investigating https://github.com/fentec-project/CiFEr

wish: decryption in rholang

[2020-06-17 19:25] dckc commented on #20
@TheoXD has some approach using zero-knowledge (should be a separate issue)

[2020-06-17 19:37] dckc opened #25 "initial trial zulip multi-user deployment for prototyping RChain mirror"
In the demo I gave in early June, RChain was mirroring traffic on a zulip that was only on my desktop. Nobody else could log in. So not much governance was going on :)

[update](#issuecomment-667560613): zulip is running at https://zulip.rchain-dev.tk/ with github auth, but we're requiring Zulip invitations for now. The mirror is not yet reliable due to a number of issues (#42, #44, #45, ...).

[2020-06-17 20:07] ian-bloom commented on #25
I'll have a look at [https://zulip.readthedocs.io/en/1.8.0/subsystems/oauth.html](https://zulip.readthedocs.io/en/1.8.0/subsystems/oauth.html)

Which is OAuth is preferable, Google or GitHub?
I prefer GitHub, only because some Chinese Co-op members are blocked from Google Services.

[2020-06-17 20:12] dckc commented on #25
I'm inclined to start with GitHub, but I'm willing to do google as well.

[2020-06-17 21:12] TheoXD commented on #20
We can enhance email signup with https://github.com/stef/libsphinx to increase security and not rely entirely on OAuth or private keys. Also maybe OAuth is best used to link accounts rather than standalone sign-in option, because it's hard to link github identities to for example REV addresses provided by co-op.

[2020-06-17 21:19] TheoXD commented on #25
Won't we run into an issue of having to link those github/google/discord/etc accounts back to email identities? How would that work?

[2020-06-17 21:21] dckc commented on #20
this issue is specifically about discord integration, since that's connected to the new member identity verification ritual.

But the move to REV addresses might make this moot.

(I'm not closing this yet because the move to REV addresses looks like a _lot_ of work.)

[2020-06-17 21:22] dckc commented on #25
Right... this won't address connecting zulip accounts with coop memberships (#31). It will just allow someone other than me to log in to the trial deployment.

[2020-06-17 21:31] dckc commented on #18
[Helios Voting](https://heliosvoting.org/) provides secret ballots. It's a turn-key solution.

It also uses postgres, so presumably the same mirroring approach could apply... though I'm not sure that would preserve confidentiality.

https://github.com/benadida/helios-server/blob/master/INSTALL.md

[2020-06-17 21:37] dckc commented on #18
@leithaus said the coop (secretary) does _not_ need to know which member voted for what.

[2020-06-17 22:00] dckc commented on #25
Well, I'm stuck. I configured the directions per the docs as far as I can tell, but it has no observable effect. :-/

[2020-06-17 22:00] dckc commented on #25
Hmm... maybe if I start from scratch with github turned on... no, I don't see a way to do that with docker-zulip

[2020-06-17 22:28] dckc commented on #12
somehow this got into the mater branch already. hm.

https://github.com/rchain-community/rv2020/blob/master/cross-shard.rho

[2020-06-17 22:34] dckc opened #26 "Timeline / schedule / milestones"
@jimscarver and co proposed a timeline Apr 7 (cfdfb3ce), revised Jun 10 (7b48c20c)

updated timeline is below in https://github.com/rchain-community/rv2020/issues/26#issuecomment-690536650

_earlier_
I'm not aware that anyone has agreed to do the work to deliver by then, so I'm taking this out of the readme on the main / master branch.

I suggest using github milestones to negotiate due dates betw

[2020-06-17 22:38] dckc opened #27 "Method 1 (jim)"
1. Generate random tickets
2. Distribute tickets randomly to coop members by email
3. Election app verifies ticket and deploys the votes anonymously
4. Association of member email and ticket destroyed after vote closing?
5. Map of ticket hashes votes/answer to each question on rchain
6. Provide website or interface to vote (2 options)
    1. Dappy - download dappy
    2. Tomislav (Metamask) - visi

[2020-06-17 22:38] dckc opened #28 "Method 2 (theo) anonymous voting with functional encryption"
Using** **[https://github.com/fentec-project/CiFEr](https://github.com/fentec-project/CiFEr) for anonymous voting of form (A, B, C, D… or neither)

1. Co-op generates a master key.
2. Co-op generates an identity vector [1, 1, …., 1, 1] and encrypts it with the master key.
3. Co-op generates member voting keys that are derived from the master key.
4. Co-op sends member voting keys to members throug

[2020-06-17 22:38] dckc opened #29 "Method 3 (greg) send dust to an address representing your choice"
Comments from Greg Meredith:

*   a REV address is issued to each coop member and is funded with dust.
*   The private and public keys of the addresses are emailed to the members
*   A REV address is issued for each possible choice of each ballot item.
*   The member then votes by using their wallet to send dust to particular addresses.
*   Any wallet can be used for voting. Optionally we can crea

[2020-06-17 22:39] dckc opened #30 "Method 4 (raphael)"
*   Create 2000 key pairs
*   Send them by email to members
*   Deploy ERC 1155 contract with 2000 tokens (not associated)
*   Provide website or interface to vote (2 options)
    *   Dappy - download dappy
    *   Tomislav (Metamask) - visit website
    *   Command line voting -
*   Meta information would be how the members votes
    *   Voter can update their vote
*   Import data into CSV file t

[2020-06-17 23:18] dckc commented on #19
This was fixed last night in cb1055f75c912e26da1616ec96b2c2175584ba0e

While I'm at it: I took today's demo as a form of code review and merged the rchain-mirror to master in 36f319036e25be7b17db1d066d565e7e673f4b56 . I then pruned the readme and moved more stuff to issues - the readme should be reserved for stuff that's more clearly agreed, and proposals etc. should go in issues / branches.

[2020-06-17 23:18] #19 closed, assigned to nobody

[2020-06-17 23:22] dckc opened #31 "one member one vote: REV address, connected with zulip account?"
@leithaus says exercise of coop membership is going to be conditioned on associating a REV address with each membership.

Connecting this with zulip accounts should help with one-member-one-vote.

For example, @jimscarver suggested we could somehow use metamask to sign something for authentication.

[2020-06-18 13:05] jimscarver commented on #12
I deleted it from the master branch. I do not know if it will be good for anything but it seems worth looking at.

[2020-06-18 14:33] dckc commented on #12
It's definitely worth looking at. I didn't go as far as deleting it... it wasn't much of a problem (certainly no more than the o2r directory). I don't mind that you deleted it for now either... it's still available in any number of places.

But moving forward, let's keep stuff in branches / issues until there's support from multiple participants.

[2020-06-18 15:17] dckc commented on #29
The https://github.com/rchain-community/rv2020/tree/m3g/m3g branch / directory is work in this direction. The idea was take the techniques from @tgrospic 's wallet page and add a voting UI for presenting the ballot and sending dust to the relevant addresses.

I started May 21 but by code to deploy was buggy.
ca21a1be6c083a11b22f05b25f6c7b839932804b

I debugged that recently (0654a4f) but mostly us

[2020-06-18 15:20] #15 closed, assigned to nobody

[2020-06-18 15:26] dckc opened #32 "iddb read-only facet"
Of course anyone can inspect the store from outside the chain, but that's kinda awkward.

The [iddb.rho](https://github.com/rchain-community/rv2020/blob/master/rchat/iddb.rho) contract should provide a read-only [facet](https://github.com/dckc/awesome-ocap/wiki/Facet) so that members etc. can query it from rholang, e.g. in exploratory deploys.

[2020-06-18 15:35] dckc opened #33 "review by coop governance committee for secretary"
As I discussed with @jimscarver and @SteveHenley last weekend, I hope the governance committee takes an active role in the zulip approach. The [scope of the governance committee](https://docs.google.com/document/d/17-vJZXDZ_7w823pD9pnvoKiPa9ifj8C3ayKopLJzBhQ/edit) is advisory. Instructing the members on how to vote is done by the secretary, IIRC (IOU bylaws citations). So the gov cttee could recom

[2020-06-18 15:39] dckc opened #34 "yes / no abstain questions - board, secretary, members"
The board decides on the ballot of questions and the secretary sends them to the membership:

 -- [II 6. Voting](https://github.com/rchain/board/blob/master/Bylaws.md#user-content-voting)

How would this work via zulip or the other methods?

How do members vote?

Related: how should members collaborate on proposing items of business?

 - [x] initial prototype
 - [x] a9b5607 * explicit oppose (aka

[2020-06-18 15:42] dckc opened #35 "tallying votes - members, secretary, board"
The secretary counts the votes ([section II. 6 Voting](https://github.com/rchain/board/blob/master/Bylaws.md#user-content-voting)) and majority rule etc. determines the outcome of each question.

How does this work? On chain in rholang? Off-chain? Is there a process for amendment?

How are the results communicated to the membership? Is there a process for appeal?

  - [x] index transactions
    -

[2020-06-18 15:48] dckc commented on #35
I suppose this issue shouldn't presume zulip. We also have the "send dust to an address representing your choice" design (#29 from @leithaus).

In that design, votes are counted by an off-chain script, though I'm not aware that anyone has written such a script.

[2020-06-18 15:56] dckc commented on #18
idea: a low-tech social approach...

The governance committee could be empowered (by the board) to collect votes confidentially.

A member could choose to meet confidentially with at least 3 members of the governance committee who would authenticate the member and communicate their vote to the secretary without sharing it with the rest of the membership (let alone the world).

The governance commi

[2020-06-18 16:31] dckc commented on #34
Let's not presume the zulip chat approach... We also have the "send dust to an address representing your choice" design (#29 from @leithaus) which is reasonably clear: the board would decide questions and answers; the secretary would choose an address for each member and send the ballot to the membership.

[2020-06-18 16:34] dckc commented on #31
Let's not presume the zulip chat approach... We also have the "send dust to an address representing your choice" design (#29 from @leithaus) which is reasonably clear: a REV address is issued to each coop member and is funded with dust.

Managing the "I lost / disclosed my private key" risk is still relevant.

[2020-06-18 16:40] dckc commented on #34
Note the rough timeline from Apr 7 cfdfb3ce05c1

September 1st - call for BODs nominee & IOBs
September 15th - closing for BOD and IOB submissions

When does the ballot go out to the membership? When are votes due?

[2020-06-18 16:41] dckc commented on #26
I put the stuff from Sep 1 on back in readme.me, since it's an external constraint. c8abd8511650

When does the ballot go out? When are votes due back?

[2020-06-18 16:59] dckc commented on #3
6a4fb4d addresses this to my satisfaction: Apache-2.

And the copyright is held by the contributors per the [Berne convention](https://en.wikipedia.org/wiki/Berne_Convention).

[2020-06-18 16:59] #3 closed, assigned to nobody

[2020-06-18 17:26] dckc opened #36 "coop OAuth / LDAP server"
zulip supports LDAP

same issue as #31 ? separate?

[2020-06-18 17:29] 9rb commented on #31
@Ian-bloom / Lilia, can you handle the REV address and REV transfer portion for all verified members? Thanks

[2020-06-18 17:37] dckc commented on #31
@jimscarver suggested a bot interaction involving a key (or registry uri?) and such...

[2020-06-18 17:40] dckc commented on #21
IOU an explanation of how delegation works

[2020-06-18 17:44] dckc commented on #25
@jimscarver and @TheoXD have dev installations; they're exploring tunnelling via rhobot.net, though Theo says he's less interested in making his installation available over the net.

[2020-06-20 16:36] TheoXD commented on #18
@dckc  https://en.wikipedia.org/wiki/ThreeBallot
Maybe this can give some ideas.

[2020-06-21 04:54] dckc commented on #35
I worked out a detailed design at the ocap level, independent of zulip:
https://github.com/rchain-community/community/blob/ocap-review/Ballot.rho 9b29d4f

It supports multiple questions, each with a set of possible answers.

It doesn't compute winners, but it does "count the votes cast" in the sense of the [Voting section of the bylaws](https://github.com/rchain/board/blob/master/Bylaws.md#user-co

[2020-06-21 04:54] dckc commented on #31
I worked out a detailed design at the ocap level, independent of zulip or any other UX:
https://github.com/rchain-community/community/blob/ocap-review/Ballot.rho 9b29d4f

[2020-06-21 21:56] dckc commented on #31
related work: [Voting](https://docs.onflow.org/docs/voting) in [flow tutorials](https://docs.onflow.org/docs)

Flow features include:

On the other hand:

[2020-06-24 22:13] dckc opened #38 "es6 modules vs rnode-grpc-js"
I'm trying to use es6 modules and no build step - just ship them straight to the browser.

I thought I had a conflict with grpc-web, which hasn't made the jump from commonjs https://github.com/grpc/grpc-web/issues/535

But @tgrospic clarified that I don't need to use gRPC. Just protobuf for signing deploys.

Meanwhile, elliptic and blakejs are commonjs.

snowpack will almost make up the difference

[2020-06-25 02:07] dckc commented on #38
I worked around this issue in 2f30491 .

I should at least raise an issue in rnode-grpc-js before closing this one.

@TheoXD reminded me that [rchain-toolkit](https://github.com/fabcotech/rchain-toolkit) is another option.  I wonder if it's intended for browser depolyment.

cc @fabcotech

[2020-06-25 16:19] tgrospic commented on #38
@dckc I've posted the function you need to serialize deploy data. You don't need rnode-grpc-js on the web.
https://github.com/tgrospic/rnode-grpc-js/issues/8#issuecomment-649669652

[2020-06-27 14:15] dckc opened #39 "metamask authentication for zulip"

[2020-06-27 17:50] dckc opened #40 "write-up: deployId "locker" thingy"
not specific to this repo, but it overlaps

[2020-06-27 17:51] dckc opened #41 "token to boost a post (reaction / thumbs-up)"
@leithaus suggested a token that you'd have to spend to boost a post in some certain way

[2020-06-27 18:21] dckc commented on #25
@jimscarver helped me figure out that the configuration was really pretty easy:

[code]

et voila: https://rchat2020.madmode.com/

[2020-06-27 18:37] dckc commented on #25
zulip is running at https://rchat2020.madmode.com/ , but the mirror isn't running because testnet is down for scheduled maintenance for a couple hours

[2020-06-27 18:45] dckc commented on #40
see also https://github.com/rchain-community/community/issues/5

[2020-07-11 21:26] dckc opened #42 "chain_replica.js doesn't update validAfterBlockNumber after start"

[2020-07-11 21:26] dckc opened #43 "chain_replica.js doesn't supply enough phlo"

[2020-07-11 21:30] dckc opened #44 "chain_replica.js only uses one validator"
GSJ writes:

[2020-07-17 22:49] dckc opened #45 "only 2 zulip tables are created on chain"
`chain_replica.js` installs triggers on all tables and relays INSERT/UPDATE/DELETE operations on all tables, but it doesn't do `create_table` on-chain in the iddb. `myzulipdb.rho` creates `zerver_message` and `zerver_usermessage` but not the rest.

[2020-07-18 00:27] dckc commented on #43
fixed in 3c11280687a8d05177d949444bc886b6398695e1

[2020-07-18 00:27] #43 closed, assigned to dckc

[2020-07-18 01:01] dckc commented on #25
@9rb and GSJ arranged for a coop infrastructure node for me to run the service. So it's sort of up there: https://rchat71.madmode.com/ (by invitation only)

GSJ and I chatted about operations: [July 11](https://discord.com/channels/375365542359465989/717821191728922684/731556952588681227):

His instinct was to do his own deployment so he knows where all the moving parts are. I wholeheartedly agree

[2020-07-18 01:14] dckc commented on #28
@TheoXD got a pointer to your work?

[2020-07-18 02:15] dckc opened #46 "Governance system UX flows"
In our July 11 meeting, @leithaus suggested I draw some flow diagrams to clarify some of the options we were discussing.

Let's start with the Dust approach, as it's most clear about how it addresses the [issues critical for use in a coop annual meeting](https://github.com/rchain-community/rv2020/issues?q=is%3Aissue+is%3Aopen+label%3Acoop-critical).

## Dust (#29)

![dust](https://www.websequenced

[2020-07-18 03:47] dckc commented on #21
current design pre-dates the board decision to require members to register REV addresses:

![seq](https://www.websequencediagrams.com/cgi-bin/cdraw?lz=dGl0bGUgT0NhcCBWb3RpbmcKClJORyAtPiBtZW1iZXI6IGRldjFBY2N0LAAFBXNlYwoAFAYgLT4AEwk6IHRpbnkgYW1vdW50IG9mIFJFVgAcC01haWxib3g6IGNyZWF0ZShyZXQxKQoADwcAYAxyZXQxIShtYm94MVdyaXRlLCAABwVSZWFkLCByZWdBZGRyMSkAdgtzZWNyZXRhcnk6IG0yMDIwISgAHAoAEwkAgUkFYm94MToASQZ3c

[2020-07-25 20:03] jimscarver commented on #46
this is the simple case I see using zulip and dappy voter registration of a zulip username

![image](https://user-images.githubusercontent.com/3037201/88465333-2df70f80-ce90-11ea-9c00-5f55a8bef6cc.png)

I do not see how functional encryption could be employed here.

[2020-08-01 14:33] dckc opened #48 "lack of SSL cert prevents using rchat71 with zulip desktop app"
reported by @otomplodomo and @nutzipper

See also #25

[2020-08-01 16:10] dckc commented on #48
fixed, with the help of @gsj5

[2020-08-01 17:07] dckc commented on #25
@gsj5 and I moved the service to https://zulip.rchain-dev.tk/ . It now has an SSL cert.

[2020-08-01 17:12] dckc commented on #25
Let's declare victory on having a zulip service where we can work on the RChain integration and leave the reliable mirror service to other issues.

[2020-08-01 17:12] #25 closed, assigned to jimscarver

[2020-08-01 17:17] dckc commented on #20
As of the [Jun 3 board meeting](https://github.com/rchain/board/tree/master/2020/06-03), the coop is committed to the REV address approach.

There's more related work to do in #31

[2020-08-01 17:17] #20 closed, assigned to nobody

[2020-08-01 17:28] dckc opened #49 "mirror doesn't ensure order nor delivery"
The code to mirror postgres events to RChain doesn't ensure that the contract returns success. Nor does it ensure that the updates are executed in order.

[2020-08-02 14:15] jimscarver commented on #25
note that zulip gets email addresses for members which it uses as the primary identifier of a user. I guess it must get the email address from github.

[2020-08-03 15:29] dckc opened #51 "load existing zulip data into RChain as a snapshot"
The design as of Jun 17 (36f319036e25) only works if you start the mirror when you initially boot zulip.

But suppose you have an existing zulip DB? How about a way to load it into RChain as a snapshot?

suggested by @steverosstalbot

[2020-08-03 16:07] dckc opened #52 "update zulip from RChain mirror incrementally"
@steverosstalbot suggested we need a means of enabling other zulip instances to receive the same notifications (selectively) as RChain to enable them to stay up to date.

I'm not sure how to make sense of this without the ability of those other zulip instances to write to RChain; i.e. this seems to imply full N-way-sync. I suppose that's coherent if we integrate at the django ORM level (#23) and s

[2020-08-03 16:09] #48 closed, assigned to nobody

[2020-08-07 03:24] dckc commented on #38
progress:
 1. fc2ce66 sign deploy without grpc-tools
 2. ab6921b never mind rchain-proto

[2020-08-08 15:47] dckc commented on #28
[code]
https://www.websequencediagrams.com/?lz=dGl0bGUgV3JpdGUgcXVlc3Rpb25zIGluIFp1bGlwOyBWb3RlIHVzaW5nIEZFLCBEYXBweSAoQXVnIDgpCgojIHZvdGVyMSBoYWQgUkVWYWRkcjEKIyBtZXRhbWFzayBmb3Iga2V5IG1nbXQ_ACUKaW4genVsaXAKCiMgYmFsbG90IGlzIGEgc2V0IG9mAH4LYW5kIGNhbmRpZGF0ZSBhbnNld3JzOyBzYW1lAFcFZXZlcnkgbWVtYmVyLgojIExHTToADwZib2R5IGhhcyB0byBiZSBhYmxlIHRvIHZlcmlmeSB0aGF0IHRoZXkgZ28ABAUATQYAgQYGCgojIHNlY3JldGFyeSBvb

[2020-08-30 01:11] dckc commented on #21
I think I figured out how to build ocap-style identities from REV addresses.

for details, see:
https://github.com/rchain-community/liquid-democracy/pull/11 0d7ed5f

[2020-09-06 04:12] dckc commented on #29
@leithaus @jimscarver @9rb @tgrospic  I prototyped the dust approach:

https://rv2020-m3.netlify.app/ballot.html

https://github.com/rchain-community/rnode-client-js/tree/ballot-ui/src/web  7b95bb6

[#rchat discussion starting 2:51pm KC time](https://discord.com/channels/375365542359465989/717821191728922684/751892352662241331)

[2020-09-06 19:37] dckc commented on #34
In current version of <https://rv2020-m3.netlify.app/ballot.html > (https://github.com/rchain-community/rnode-client-js/commit/cf615f075f68acd282952c1dee101984016ea879), I went from multiple choice to yes/no questions.

But I'm representing "no" as absence of a transfer, which leaves no way to express "I want to change my vote from yes to no".

Not only that, but @jimscarver notes the bylaws requi

[2020-09-06 19:40] dckc commented on #29
@jimscarver suggests an audit trial, which is something I was thinking about:

certainly the deploy id is cost-effective.

[2020-09-06 19:44] dckc commented on #35
The recent work by @zsluedem to show account histories in https://revdefine.io should help a lot.

@jimscarver took the ball on indexing testnet transactions with https://github.com/zsluedem/transaction-server

[2020-09-06 20:01] dckc commented on #35
wrong button :-/

[2020-09-07 00:40] dckc commented on #34
a9b5607 * explicit oppose (aka withold); no / abstain / yes in columns

[2020-09-07 00:48] dckc commented on #34
@ian-bloom I'm interested in your feedback on this design from the perspective of the secretary.

The way I have been putting the agenda questions on chain is
  1. Put the questions into a JSON format https://github.com/rchain-community/rnode-client-js/blob/ballot-ui/src/web/ballot.js#L240-L271
  2. Deploy it to testnet using https://tgrospic.github.io/rnode-client-js/
     1. In the custom deploy

[2020-09-07 08:48] tgrospic commented on #29
@dckc very nice! I tested the ballot page and it works as expected.

![image](https://user-images.githubusercontent.com/5306205/92368147-a12eab00-f0f7-11ea-9346-4277e8ab01f4.png)

[2020-09-07 14:42] dckc commented on #35
@jimscarver is working on a transaction service at http://rhobot.net:7070/api/total-supply
I started one at http://kc-strip.madmode.com:7070/docs

I started a couple PRs: https://github.com/zsluedem/transaction-server/pull/3
https://github.com/rchain-community/transaction-server/tree/api-doc

[2020-09-07 15:04] dckc commented on #35
An [#rchat message at 2:51pm CT Sat 5 Sep 2020](https://discord.com/channels/375365542359465989/717821191728922684/751892352662241331) tells us we can start our testnet scans at block **372418**.

That's the block containing deploy with signature `c4acf82c128361fbe7df590284034ec2a3f5696ced540b7d6493395a1acc6e7340c668fcbc44d18252cc22707ecc8149b8b4a8fee7cc0639e23608b2996e4e6d1b`

[2020-09-07 15:40] dckc commented on #31
recent work uses the dust approach (#29) which depends on further work on tallying (#35).

[2020-09-08 02:10] ian-bloom commented on #34
I like this approach a lot and will review it with Lilia, the [current](https://github.com/rchain/board/blob/4acb90fc14000a7047f9e3a573f24631484359ee/2019/11-5/README.md#appointment-of-lilia-rusu-as-secretary) Co-op Secretary.

[2020-09-08 19:35] dckc opened #54 "continuous deployment, repo organization"
- [x] repository reorg, pending https://github.com/tgrospic/rnode-client-js/issues/14
 - [x] continuous deployment of this repo for beta testing / review: https://rv2020-beta.netlify.app/
   - we plan for the the coop to have its own fork with continuous deployment; that's out of scope of this issue
 - ~~add link / redirect from earlier site(s)~~ (I think it's clear enough that they're obsolete)

[2020-09-08 22:42] jimscarver commented on #35
I started a bash script to tally vote results. The yes votes are zero :(
[code]

[2020-09-09 05:51] dckc commented on #54
I made a [dust3](https://github.com/rchain-community/rv2020/tree/dust3) branch just for the dust voting app: 5eb8722

And I actually reset `master` to match `dust3`.

What was formerly `master`, 4131818, is now in the `rchat-mirror` branch.

[2020-09-09 12:45] tgrospic commented on #54
@dckc maybe you can use GitHub action to automatically publish site with github-pages similar to rnode-client-js.
https://github.com/tgrospic/rnode-client-js/blob/master/.github/workflows/github-pages.yml

[2020-09-09 15:01] dckc opened #55 "demo / README fodder"
tabs for use in demo today... saving before upgrading my browser... tabcopy FTW

Ballot Experiment - RChain: https://rv2020-m3.netlify.app/ballot.html
local valiator dev tools (with registry support) · Issue #17 · rchain-community/liquid-democracy: https://github.com/rchain-community/liquid-democracy/issues/17
rchain-community/rchain-docker-shard: RChain network on a local machine: https://github.

[2020-09-09 18:40] dckc commented on #26
Ian says:

ballot goes out... result of board decision
voting begins out Oct 21
votes are due back 12amPT Oct 24

I think it would be cool to see the registry URI of the ballot in the board minutes :)

[2020-09-09 21:46] dckc commented on #54
@tgrospic writes:

yes, that's the idea in the "Static Site Generators with Node.js" link above.

I gather @ian-bloom is testing it.

[2020-09-09 21:47] dckc commented on #54
Darn; the repo reorg messes up the git blame history.

What I should do is prune my fork of rnode-client-js down to the stuff that's relevant here and then make that a dependency.

[2020-09-09 21:57] dckc commented on #34
Using https://jsoneditoronline.org/ in today's demo was cool, @ian-bloom .

I aim to check in the instructions above as documentation. I was thinking of putting it in / near the README, but now I wonder if it belongs on a page in the app. hm.

[2020-09-09 22:18] tgrospic commented on #54
@dckc I'll be finish with the split of web and grpc part in a couple of days. rnode-client-js will be just web part with helpers.

[2020-09-10 16:15] dckc commented on #26
IOBs are due... at T-2 weeks, i.e. 10 Oct

[2020-09-10 16:24] dckc commented on #54
Ian suggests a fork under the rchain org and deployment using github pages under a URL of the secretary's choosing. Sounds great to me!

Rao suggests different issues belong in each, perhaps... which suggests issue templates to guide reporters.

[2020-09-10 16:27] dckc commented on #33
@SteveHenley , @jimscarver and company agreed to review for UX etc.

[2020-09-10 16:33] dckc commented on #26
Ian notes the date for "no more REV address changes"... **no later than Oct 20** per [Notice of Annual Meeting 2020 \- RChain Blog](https://blog.rchain.coop/2020/07/09/notice-of-annual-meeting-2020/)

[2020-09-10 16:35] dckc commented on #35
Can we have the list of voter rev addresses on chain, please? I'm interested to do tallying in rholang.

Rao asks about two different methods and cross-checking.

Do the transparency benefits outweigh the privacy risks?  gov cttee seems supportive...

list should not go out until voting is closed, else people can do tallying while voting is open

[2020-09-10 16:46] dckc commented on #31
The approach of dust (#29) from registered REV Addresses addresses this issue.

RESOLVED 10 Sep by the gov cttee (@9rb chairing, board members @SteveHenley and Daryl N. in attendance)

[2020-09-10 16:46] #31 closed, assigned to nobody

[2020-09-10 16:46] #29 closed, assigned to dckc

[2020-09-10 16:52] dckc commented on #54
A goal of this issue is to not host the general wallet functionality with the voting dApp.

[2020-09-10 16:59] dckc commented on #34
current design doesn't allow voters to express changing from yes to abstain, though the UI suggests they can.

adding explicit rev address for abstaining impacts tallying design.

ian: edge case... [pls send test case?]
not using vote page but some other wallet... [?]
... not a case worth addressing

Rao: or a bot that sprays votes...
[let's make a test case! or several! fuzz testing...]

yes, it

[2020-09-10 17:26] SteveHenley commented on #26
**Current Timeline**
| Date | Activity |
| ------------- | ------------- |
| ~~September 12th~~  | ~~RVote/RChat meeting~~  |
| September ? | Deadline for rv2020 code audit, UX review and admin ease of use review |
| September 19th  | RVote/RChat meeting  |
| September 24th  | Nominating Committee sends proposed board candidates BOD  |
| September 26th  | RVote/RChat meeting  |
| September 29th  |

[2020-09-11 02:07] #55 closed, assigned to nobody

[2020-09-12 14:10] dckc opened #59 "rank order questions"
@leithaus suggests this is straightforward to support and notes there was such a question in last year's ballot (from @steverosstalbot ).

[2020-09-12 14:20] dckc opened #60 "voter user testing"
find >= 3 members and see how they do with the UI

 - [x] draft script
 - [x] Eric: conduct recorded session, jot down notes, record issues
 - [x] Rao
 - [x] Daryl
   - [x] add some issues from Daryl's session
 - [x] Lilia
   - [x] review Lilia's session for issues
 - [x] Nora

secretary role moved to #86

[2020-09-12 14:20] dckc opened #61 "user training: voting video"

[2020-09-12 14:21] dckc commented on #61
Daryl, Steve

[2020-09-12 14:27] dckc opened #62 "enter private key (rather than metamask)"
@leithaus would prefer not to use metamask; is comfortable giving a private key to software he can audit.

@dckc sees too much UX risk to take on the coding

custom deploy with @tgrospic 's tool remains an option

[2020-09-12 14:32] SteveHenley commented on #61
Rao's suggestion to have graphics for step 1, step 2, step 3, etc. Then greyed out then darkened.
Dan need can implement this feature but needs slide editing software with images to develop the function.
Google slides to create animation. This is issue #63

Use Alex Crank to get list of developers to recruit or hire to help accomplish this task.

[2020-09-12 14:34] dckc opened #63 "progress bar / nav, UI tour"
to help, maybe prototype with slide-ware

 - [x] brainstorm "slideware"
 - [x] visual prototype with bootstrap
 - [x] track state in progress bar
 - [x] UI tour

[2020-09-12 14:48] jimscarver commented on #63
something like this may be good.
![image](https://user-images.githubusercontent.com/3037201/92998039-80929680-f4e5-11ea-8628-64b61efb1bbd.png)

[2020-09-12 14:52] dckc commented on #59
Impact on the tally algorithm #58 is also important here.

[2020-09-12 15:25] dckc commented on #63
That's a good start, @jimscarver ...

Now somebody please integrate it with [the current design](https://rv2020-m3.netlify.app/ballot.html) and change "Step2" to real labels and such.

[2020-09-12 15:25] SteveHenley commented on #61
This issue is create a voting training video similar to the REV address issuance video.

[2020-09-12 18:44] SteveHenley commented on #61
- Steve: review using rv2020
- Steve & Darryl: rehearse rv2020
- Steve & Darryl: identify improvements
- Steve: rehearse rv2020 with any improvements
- Steve: record rv2020 demo
- Darryl: edit rv 2020 demo

[2020-09-12 18:48] jimscarver commented on #63
or we could label each box STEP 1, STEP 2, ...

On Sat, Sep 12, 2020 at 11:25 AM Dan Connolly <notifications@github.com>
wrote:

[2020-09-12 18:49] SteveHenley commented on #63
**Order of Events**
- Darryl will identify graphics designer with which to work.
- @SteveHenley and Darryl with work with graphic designer to create progress bar artwork finished product.
- Finished artwork will be send to @dckc to be integrated into rv2020.

[2020-09-12 18:55] SteveHenley opened #64 "recruit UX developers"
Create an improved UX for rv2020 which is easier to use.  Current UX is a template to build upon.

Use Alex Crank to get list of developers to recruit or hire to help accomplish this task.

[2020-09-12 19:52] dckc commented on #64
Improved in what way? Newer than what? The scope of this is unmanageably broad. I'm inclined to close it until you can make it more concrete / bounded. But I'll stand by for a bit.

[2020-09-12 19:56] dckc commented on #63
Oh bother. Identify a graphic designer? Really? Well, I'll be pleasantly surprised if it works out, I guess, but if you can't find one that fits our schedule and budget, please don't use that as an excuse to not get this done.

[2020-09-12 19:59] dckc commented on #63
And it's unlikely that I can integrate "finished artwork" unless it's delivered as edits to the current html+css. Don't submit pixel images expecting the ui to look exactly like that.

[2020-09-13 04:28] dckc commented on #64
I updated the title to focus on a more tangible part of the issue.

[2020-09-13 14:51] jimscarver commented on #60
script:
thank you for participating in testing of the user experience using a voting application proposed to be used for the rchain annual member meeting. The object of this process is to identify issues to help us make the interface as self evident as possible. This session will be recorded and published on youtube as unlisted. A link to the video will be posted in a comment on github if you have

[2020-09-13 21:10] dckc commented on #60
Nice work on the script... Is it fair to confirm that the tester has their gov REV address before asking them to vote? Or should that be part of the test?

[2020-09-14 14:33] SteveHenley commented on #63
@dckc what format would you like the graphics provided to you?

You mention providing you with graphic from google slides.  Is this sufficient?  Darryl suggested the graphic designer work that is multi-layered.  I am not quit clear on what this means.

In order to successfully complete this issue I need to get a better understanding of that is needed.  At this point in time it is not clear to me.

[2020-09-14 16:05] dckc commented on #63
Just about any format is fine, provided you understand it serves as a rough sketch and that I aim to code up something that matches only roughly. The term "finished artwork" suggests that I would produce a UI that matches pixel-for-pixel and that the process is not iterative.

I suggest (1) use google slides (2) spend no more than half an hour on it before sharing (3) expect an iterative process.

[2020-09-14 16:08] nzpr commented on #63
Hi folks, let me try to arrange UI for a voting app. Would be nice if you can provide examples of nice voting interfaces, if you have one.

[2020-09-14 16:10] dckc commented on #63
The current example is available at https://rv2020-m3.netlify.app/ballot.html , @nzpr . This issue is about adding a progress bar at the top.

Contributions beyond that are of course welcome, but they're beyond the scope of this issue.

[2020-09-14 16:13] nzpr commented on #63
Yeah, I just saying so work is not done twice.

[2020-09-14 16:20] SteveHenley commented on #64
@nzpr thank you for your offer to find help with the UI.  I am not aware that anyone has examples of a easy to use voting interface. But perhaps @TheoXD has some ideas since he is also working on voting also.  I will ask him in discord.

"Hi folks, let me try to arrange UI for a voting app. Would be nice if you can provide examples of nice voting interfaces, if you have one".

[2020-09-14 16:21] dckc commented on #63
@nzpr you're welcome to contribute, but until I see some tangible progress (beyond what @jimscarver supplied above) I want @SteveHenley and Daryl to continue to do what they offered to do. That is: I'm more comfortable having work done twice at this point than to let them off the hook.

[2020-09-14 17:33] jimscarver commented on #60
eric:
it was not apparent that pick account would open metamask
i do not know why i am seeing code, not a good user interface feature
checking result should go on bottom, not expecting on top.
did not have any test rev, had to send some.
fairly straight forward.
should be able to get more info on vote choice

later comments:
get questions was a bit confusing. questions should automatically come up

[2020-09-14 19:18] jimscarver commented on #60
people at least need to know how to get test rev if necessary
We should check their balance and get test rev if they need it automatically.
for now we can send them to
http://kc-strip.madmode.com:7070/docs#/default/faucet_testnet_faucet__address__get
but
curl -X GET "http://kc-strip.madmode.com:7070/testnet/faucet/111126V8eph94c8cQQLhRJ6D3zRbaaFPiyHRViR3kwaUUxpsktgxAE" -H  "accept: application/jso

[2020-09-14 19:36] dckc opened #66 "show REV balance on voting page"
based on user testing: https://github.com/rchain-community/rv2020/issues/60#issuecomment-692259748

thanks, @jimscarver

[2020-09-14 19:37] dckc opened #67 "provide (link to) test rev"
at least a link to how to get some

https://github.com/rchain-community/rv2020/issues/60#issuecomment-692259748

[2020-09-14 19:44] dckc opened #68 "not apparent that pick account would open metamask"
https://github.com/rchain-community/rv2020/issues/60#issuecomment-692204132

[2020-09-14 19:45] dckc opened #69 "walkthru of voting rholang code"
- hide by default? no, according to Sep 26 preferences. So the plan is:

   - [x] draft slides explaining the code: [Voting in Rholang](https://docs.google.com/presentation/d/1LLwejP0QdhHwhjYd-LFIPBblj1owjBGHBgL_EWh80V8/edit#slide=id.g9c72ba371b_0_1247)
   - [x] present to small group of members
   - [x] link slides, recording to voting page
   - [x] edit the video a bit

https://github.com/rchain

[2020-09-14 19:46] dckc opened #70 "result not expected at top of page"
I originally had it at the bottom, but if the questions are long, it goes out of view. Hm.

https://github.com/rchain-community/rv2020/issues/60#issuecomment-692204132

[2020-09-14 19:58] dckc opened #71 "user testing suggests questions should automatically come up"
https://github.com/rchain-community/rv2020/issues/60#issuecomment-692204132

[2020-09-14 20:00] 9rb commented on #60
Should 'Get Questions' be renamed 'Get Ballot' ?
The text on the bottom (foot notes) should be on the very top, so people can read if they need to familiarize themselves.
The metamask piece may need to be specifically re-written with just the details needed for the voting?
The current first sentence (on the top) should be reworded accordingly once the bottom links are moved to the top.
There shoul

[2020-09-14 20:18] dckc commented on #60
@9rb are those notes from a user testing session? If you're reporting your own feedback, please just make issues. Let's keep this issue scoped to user testing by a trained observer.

[2020-09-14 20:22] 9rb commented on #60
yes, those are from my session with Jim that I just completed

[2020-09-14 20:28] dckc commented on #60
We're seeing themes here...

much like #71

like #70

#68

#63

[2020-09-14 20:32] dckc commented on #63
I wonder about using a [product tour](https://github.com/topics/product-tour) thing like [shepherd](https://shepherdjs.dev/) or [tourguide](https://github.com/LikaloLLC/tourguide.js).

[2020-09-14 20:43] dckc commented on #62
While I said I won't write code that manages (real) private keys, I must admit thinking about resuming work on https://github.com/rchain-community/RSign .

I'm thinking about using TOTP.

I think @tgrospic said something about WebAuthn.

[2020-09-14 20:53] jimscarver commented on #60
lilia:
what do i do next? do I have to pick an account, long delay, which address?
metamask not in safari, need to run chrome or firefox
did not see checking result
are we done yet? feedback needed.

video https://youtu.be/kAtsYS6Z3NQ

[2020-09-14 21:04] dckc commented on #69
This is something of a marketing issue: rholang-in-your-face is not what one would expect in a typical voting app, but if we hide it (by default), we miss an opportunity to expose people to what rholang is there for: social contracts, e pluibus unum 2.0 and all that.

I'd appreciate feedback from folks like @OPNO (Daryl), @JamesMoc , @MaximilianR

p.s. I suppose that exposing people to rholang mea

[2020-09-14 22:11] SteveHenley commented on #63
@dckc how does this google slides concept look for a [progress bar](https://docs.google.com/presentation/d/1m26tPm98hoL8ByjTPHNpeZUUrRZMzfwo2jyIFKv4ZDE/edit#slide=id.p)?
As the user complete task the font color changes to white with a black background.

General concept art
[progressBar1.pdf](https://github.com/rchain-community/rv2020/files/5221370/progressBar1.pdf)

[2020-09-14 22:31] dckc commented on #63
That's a good start...

I was hoping for a slide that included the current page as a background to indicate where the progress bar should go and roughly how much space it should take up... and whether other page elements need to move around.

If you share edit rights, I (and/or others) can help.

[2020-09-14 22:35] dckc commented on #63
Also... do you think "Get Questions" is a useful step? #71 suggests not.

Is Pick Account really just one step? Or should the various steps involved in connecting to metamask be evident?

Is Vote just one step? Or should "fill out answers to questions" be separate from "Submit"?

And should there be some sort of "wait for confirmation that your vote was recorded" step?

[2020-09-14 23:13] SteveHenley commented on #63
@dckc everyone can now edit [rv2020 Progress Bar](https://docs.google.com/presentation/d/1m26tPm98hoL8ByjTPHNpeZUUrRZMzfwo2jyIFKv4ZDE/edit?usp=sharing)

[2020-09-15 00:14] OPNO commented on #69
Lilia went through Jim's personal walkthrough call today and reported that it was easier than she thought. They had some issues but managed through them. I have yet to set up a time w Jim but will do so. Steve H and I will work on a simple video, designed for the layperson with no crypto experience, but I imagine things will continue to be developed up until close to the AGM, so perhaps if we were

[2020-09-15 00:33] dckc commented on #69
@OPNO writes:

Got it.

Providing feedback on behalf of a larger community was all I need at this point. The coding effort to make the rholang invisible-by-default is quite modest, so it's quite possible to have it by the AGM.

[2020-09-15 03:36] dckc commented on #54
@tgrospic thanks to your work on https://github.com/tgrospic/rnode-client-js/issues/14 , I was able to do a satisfactory reorg. Please review #53 . To see it in action, visit https://rv2020-beta.netlify.app/

It's based on a few small tweaks to rnode-client-js in https://github.com/rchain-community/rnode-client-js/tree/rv2020-snowpack ; I guess I owe you a PR or something.

[2020-09-15 03:38] dckc commented on #54
@ian-bloom I went ahead and set up continuous deployment to https://rv2020-beta.netlify.app/

netlify is also set up to do preview deploys for PRs to this repo.

The "production branch" is set to `m3g` until #53 lands.

[2020-09-15 03:45] dckc commented on #54
I should redirect the earlier sites.

[2020-09-15 03:46] dckc commented on #36
no longer worth tracking

[2020-09-15 03:46] #36 closed, assigned to nobody

[2020-09-15 03:47] dckc commented on #38
fixed in #53

[2020-09-15 03:47] #38 closed, assigned to nobody

[2020-09-15 03:54] dckc commented on #70
idea: have a **Sign and Submit** section at the bottom where all the REV address, metamask, and such action happens.

See also #68

[2020-09-15 03:57] #46 closed, assigned to nobody

[2020-09-15 03:59] dckc commented on #27
@jimscarver I trust you're no longer interested to pursue this, except inasmuch as it overlaps with https://github.com/rchain-community/liquid-democracy work.

[2020-09-15 03:59] #27 closed, assigned to nobody

[2020-09-15 12:13] MaximilianR commented on #69
You are talking about the code that shows up in the "Your response, in rholang" box?

I'd lean towards showing it by default, because:

- Seeing the code update as you change your vote is exciting in a nerdy way
- It's a nice demonstration of rholang in action
- It's a nice demonstration how voting can be done trustlessly through code
- It also adds a high level of trust of the vote itself. (But i

[2020-09-15 13:41] dckc commented on #54
- [x] merge / rebase tally work by @jimscarver #73

https://github.com/rchain-community/rv2020/blob/6977425c75643721f4ec06200bfe1dfda3bbdd59/src/web/tally.sh

[2020-09-15 13:49] dckc commented on #69
OK, now we have feedback from both sides of the question. Cool. Maybe you guys (@MaximilianR, @OPNO ) could find 10 minutes to talk it over?

I'm interested to work on the page that walks thru the code... maybe some slides. Maybe I can get something drafted for an upcoming meeting and we can record me presenting it to the group... This is more work than hiding the code by default, but it seems mor

[2020-09-15 15:28] OPNO commented on #69
I think we can accommodate both sides. Perhaps we can discuss more in the
communications meeting today Max?

Re: walk throughs, Steve H and I discussed working on that as well. If we
can help alleviate any work load from you Dan, I would love to do that.

On Tue, Sep 15, 2020 at 6:49 AM Dan Connolly <notifications@github.com>
wrote:

--
https://www.rchain.coop/
http://www.darrylneudorf.com

[2020-09-15 22:14] lrusu commented on #60
Jim and all, here is my voting experience feedback:
- when i started the voting process, i was working from Safari, my Metamask was running in Chrome, so needed to change from Safari to Chrome in order to continue with my voting (it depends on which system (Safari, Chrome, Windows etc) the member is using, it would be helpful to notify them before voting begins, it saves time, just a thought)
- an

[2020-09-16 01:33] jimscarver commented on #60
darryl:
has no metamask.
use same 12 word key phrase as from myrchainwallet as for  coop voting ?!
has private key also
invalid seed phrase.
creating new account
https://status.rchain.coop/testnet/faucet/
carefully review address sent from secretary very confusing. [if verifying that really needed? do not prove anything.]
what does submit query mean
status at top scrolled off screen
no way i would

[2020-09-16 04:20] dckc commented on #71
fixed in ace85b7
deployed at https://rv2020-beta.netlify.app/

[2020-09-16 04:20] #71 closed, assigned to nobody

[2020-09-16 04:21] dckc commented on #70
fixed in ace85b7
deployed at https://rv2020-beta.netlify.app/

[2020-09-16 04:21] #70 closed, assigned to nobody

[2020-09-16 04:22] dckc commented on #68
I made some progress in ace85b7 deployed at https://rv2020-beta.netlify.app/

I expect to add a tour that should finish addressing this; see also #63

[2020-09-16 04:23] dckc commented on #63
It's not yet functional yet, but I added a bootstrap progress bar in ace85b7
deployed at https://rv2020-beta.netlify.app/

[2020-09-16 04:25] dckc commented on #60
yeah; that was goofy; gone as of ace85b7 deployed at https://rv2020-beta.netlify.app/

also goofy and gone in ace85b7

I added a fixed area at the top... I guess the status should go there. TODO.

IOU a new issue on that.

[2020-09-16 04:57] dckc opened #74 "Load previous responses"
On sign-in, check the transaction server for transactions from the voter's address and update the radio buttons to match.

[2020-09-16 22:21] dckc commented on #69
Did that work out? What news, @OPNO , @MaximilianR ?

[2020-09-17 01:07] OPNO commented on #69
Doh - forgot to discuss it! Argh! Well, I guess we can keep discussing
here. Sorry bout that.

So I was going to hit up Alex Crane about JS devs, but don't know what to
say as far as what we need them to do. Can you give me a run down?

(for follow-up on JS devs, see #64 -@dckc)

[2020-09-17 02:24] dckc commented on #64
@OPNO writes:

Um... I'm not really sure. I guess you can show them the https://rv2020-beta.netlify.app/ prototype and the issues list https://github.com/rchain-community/rv2020/issues and see what they think. Or you could invite them to one of the upcoming meetings.

[2020-09-17 05:08] dckc commented on #63
@SteveHenley @OPNO @jimscarver @9rb check out this guided tour https://deploy-preview-75--rv2020-beta.netlify.app/ #75

The progress bar still isn't functional yet.

[2020-09-17 17:06] jimscarver opened #76 "Limit voting to registered voters"
need list from secretary
read list
check each voter is registered

[2020-09-17 17:20] #76 closed, assigned to nobody

[2020-09-17 17:20] jimscarver commented on #76
included in #35

[2020-09-17 18:38] dckc commented on #76
If it's useful to track this separately, I have no objection.

[2020-09-17 21:31] 9rb commented on #63
I just reviewed the 'Show me How' .. we did not review that at the meeting - that's very helpful. May be that should be flashing initially until they click on it :grinning:
The boxes, borders can perhaps be made smaller ? @TheoXD @jimscarver
Logo needs to be the correct format @TheoXD

[2020-09-17 22:04] dckc commented on #63
Which logo? Which format? Are you talking about the use of the black RChain-Community logo rather than the red RChain coop logo? That's on purpose. I expect the coop to add their logo in their fork.

Or I guess you can grant a license to use the coop logo for this project.

[2020-09-18 09:44] MaximilianR commented on #69
It seems @dckc has done some nice changes recently ([https://rv2020-beta.netlify.app/](https://rv2020-beta.netlify.app/)), and personally I think it is close to a sufficient interface given what it will be used for. The simplicity is a strength in this case, the ballot is big and in the center, so users see exactly what they need to do, and the banner on the top instructs with a really simple to g

[2020-09-18 14:57] dckc commented on #63
I welcome updates to the tour steps and wording:
https://github.com/rchain-community/rv2020/blob/progress-tour/src/web/tour-help.js

[2020-09-18 15:13] dckc opened #77 "verify chosen address is registered"
earlier we noted that the list should not go out until voting is closed, else people can do tallying while voting is open
https://github.com/rchain-community/rv2020/issues/35#issuecomment-690469525

@jimscarver points out a risk that a registered voter will mistakenly pick the wrong address and that the voting tool could prevent this if the list of registered REV addresses went on chain earlier.

[2020-09-18 15:22] dckc commented on #69
Yeah, that Agenda URI thing is (still) awkward. I'm not ready to get rid of it altogether yet, but I'm not sure what to do with it. I think it merits a separate issue.

[2020-09-19 04:39] dckc commented on #63
progress bar is hooked up now

https://deploy-preview-75--rv2020-beta.netlify.app/

#75

[2020-09-19 10:40] jimscarver commented on #60
nora
(notes to be added...)
video https://youtu.be/ApKdcqE56s4

[2020-09-19 14:58] SteveHenley commented on #59
Dan suggestions to have REV address that states rank one, then rank two and so on.  Using dust is not a good idea.

Jim suggests dust is a good and too many REV addresses is bad.

[2020-09-19 15:06] 9rb commented on #59
Design:

1. Use dust for relative ranking (this is especially helpful when we have a large number of options to rank order, so that we do not need a separate REV address for each option - if we choose 1,2,3 type ranking, each option would need a separate REV address).

2. Relative dust can be used ONLY within a particular user to deduce that user's relative ranking - one person may use 1 rev, 2 re

[2020-09-19 16:49] dckc commented on #59
@9rb a handful of test cases would be really handy... perhaps in a spreadsheet or something?

[2020-09-19 16:53] dckc commented on #77
There's a policy question here. @jimscarver @SteveHenley @ian-bloom what do you think? Or would you prefer to consult with the rest of the gov cttee before answering?

[2020-09-19 16:55] dckc opened #78 "send (at least) 1 REV to each registered REV address"
@leithaus took the ball on this

@ian-bloom noted there's a small window between when the list of addresses is fixed and when voting opens. @leithaus acknowledged.

[2020-09-19 22:16] jimscarver commented on #34
@TheoXD and I added accounts for abstain vote in the SteveHenley-patch-1 branch since we are working together collaboratively and using vbcode live share.

It reports abstains when votes are changed to abstain but is not initialized to abstains on everything by default yet.

[2020-09-20 17:33] jimscarver commented on #77
my suggestion is that the member be told up front if the address is unregistered. I do not consider the voter list to be private since it will be revealed after the vote is over anyway. Not revealing it before could be interpreted as nefarious.

[2020-09-20 17:38] jimscarver commented on #77
people will tally in any case. Why is tallying before the election close bad? It is no better than a voter survey.

[2020-09-20 20:12] dckc commented on #77
@jimscarver I'm aware of your preference. But it runs counter to what I understood was the consensus from [our Sep 10 rv2020/rchat discussion](https://github.com/rchain-community/rv2020/issues/35#issuecomment-690469525), so please get input from either that group or the gov cttee.

[2020-09-22 21:21] #63 closed, assigned to SteveHenley

[2020-09-22 21:44] dckc opened #80 "submit starts multiple transactions in rxjs based code"

[2020-09-24 17:56] jimscarver commented on #77
I will check with ian on when he plans to send list of registered addresses. If there is any issue governance will address next week

[2020-09-24 17:56] TheoXD commented on #77
What if co-op releases hashed versions of member addresses, would that help? And another issue is that we can assume that most transactions coming in to those addresses will be from members, so you would be able to see results early. A solution to that would be to generate some noise by sending rev from non-member wallets.

[2020-09-24 18:23] dckc commented on #80
I'm inclined to back out rxjs; that'll help @TheoXD with the abstain part of #34.

[2020-09-24 18:43] dckc opened #81 "multi-page UI"
Last Saturday @OPNO  suggested a multi-page UI. I said sure, some slides to look at would be great. I suggested playing "calendar bingo" and as I was leaving I heard "let's work on it right now."

The next I hear is today... I hear from @jimscarver  that not much happened in that session. Subsequently he and @SteveHenley  got together and tried at the HTML level. They had some build issues.

@Theo

[2020-09-24 18:52] dckc commented on #63
interesting suggestion from @TheoXD : always have the relevant part of the tour on the screen.

[2020-09-24 20:03] TheoXD commented on #81
One could hide/grey out steps that are not yet active, it would work sort of like a multi-page. While making a multi-page UI will definitely help most people, we're not targetting a lot of people anyway (maybe 40-50 will vote out of 100, out of which many might be already familiar with the current UI)

[2020-09-24 21:28] dckc commented on #77
No, on further thought, I remember why not. Suppose the secretary does:

[code]

Then the "attacker" can do:

[code]

IOW: given a set `reg` of `h(va)` for each registered voter address `va`, the "attacker" who wants to tally the votes early can find all the votes given the ballot and then look at the sender address `sa` of each vote, compute `h(sa)` and check whether it's in `reg`.

If anyone sti

[2020-09-25 18:53] SteveHenley commented on #81
I now have my visual studio code environment setup.  I took Rao's suggestion to remove the Jumbotron and make "RChain Annual Meeting Ballot" smaller.  Added ordered user instruction list while removing show me bubbles.  These changes are committed/ pushed to SteveHenley-patch-1.

[2020-09-25 20:06] dckc commented on #81
ok... I see 79309cd , 3e420fd and such. They probably belong in their own PR; I can probably arrange that...

But they don't look relevant to a multi-page UI. It looks like you're ok to close this issue as `wontfix`. @OPNO how about you? Do you have anything tangible to share regarding a multi-page UI?

[2020-09-25 23:03] ian-bloom commented on #77
Currently, an "attacker" can monitor the progress of the election by watching yes/no ballot addresses as well as sender addresses. Sender addresses are exposed 3 ways:

1. Co-op funds voter's addresses with dust prior to the election
2. receipt of REV by yes/no ballot question addresses
3. REV addresses that received Co-op's 100 REV early registration bonus

As @TheoXD suggests, we could obscure t

[2020-09-26 06:34] OPNO commented on #81
I don't have anything tangible to share as of yet. I was hoping to dust of
my html skills (or lack thereof - it's been a while) and get going with an
attempt this weekend. A single page with steps revealed as per Theo's
suggestion might be good too.

My thoughts are that "RVote" may be looked on as dual purpose: 1) allow
members to vote easily 2) show the outside world that we have voting on
chain

[2020-09-26 06:47] OPNO commented on #81
Perhaps we could look at it as multi phase? -
phase 1 - get the MVP done for the AGM. (Maybe already done? - and perhaps
Steve H and I could work on a nice user friendly video walkthrough)
phase 2 - continue working on the user friendly "crypto/blockchain virgin"
UI, and prep a needs analysis for the Hackathon.
phase 3 - make it a Hackathon project with more hardened tamper proofing
and grandma fr

[2020-09-26 06:54] dckc commented on #81
You did hear me suggest slides, right? I'm not sure why everybody is putting HTML tooling in the way of UI brainstorming. Half an hour with google slides should be enough to have an extremely rough sketch to share. By way of example, see the discussion starting with https://github.com/rchain-community/rv2020/issues/63#issuecomment-692340821

OK... then I'll leave this open but leave it off the gov

[2020-09-26 14:02] dckc commented on #80
I reverted the master branch to 763ab227004cf1f5da6a96e819b16e89090509aa , the last version that had the critical functionality working correctly.

[2020-09-26 14:20] dckc commented on #54
and lo, there was https://github.com/rchain/rvote

[2020-09-26 14:24] dckc commented on #35
I started sketching test cases in a shared spreadsheet:

  - [rv2020 tally test cases](https://docs.google.com/spreadsheets/d/1PAV3DQTA3rdhLprc2xbOEpx77hxu2NZbqUU5IBm09Jk/edit#gid=0)

@leithaus suggested "generative tests" for volume. That sounds like property testing, to me; in general that's an excellent approach, but I haven't given much thought to what the properties should be. @leithaus said

[2020-09-26 14:29] dckc commented on #77
We (Sep 26 attendees) are RESOLVED that the benefit to publishing the voter rev addresses at the start of the voting period outweighs the costs / risks.

"... no later than oct 20"

[2020-09-26 14:40] dckc commented on #61
@OPNO confirms Oct 1 target as feasible, though somewhat risky

[2020-09-26 14:44] dckc opened #84 "which browsers to support? notify / train uses to use chrome?"
(or chomium-based such as brave)?

One user had to switch from safari to chrome because that's where metamask was installed.
https://github.com/rchain-community/rv2020/issues/60#issuecomment-693008053

@jimscarver asked whether firefox works; I don't know; I haven't tested it.

[2020-09-26 14:47] dckc opened #85 "success marker is goofy"
https://github.com/rchain-community/rv2020/issues/60#issuecomment-693116975

[2020-09-26 14:47] dckc opened #86 "user testing for secretary role"

[2020-09-26 14:49] dckc commented on #60
excellent work @jimscarver and company

[2020-09-26 14:49] #60 closed, assigned to jimscarver

[2020-09-26 14:52] dckc commented on #78
voting costs ~0.05 REV, so 1 REV is enough to vote 20x

[2020-09-26 16:02] dckc opened #89 "banner looks goofy on mobile"
IOU screenshot

[2020-09-26 20:44] dckc opened #93 "voting receipt: transaction id / deployId / signature"
I think it's availble in the browser console, so it's possible to treat this as a doc / training issue, @OPNO . But that seems kinda awkward.

https://github.com/rchain-community/rv2020/issues/29#issuecomment-687881377

[2020-09-27 02:32] dckc commented on #35
The tallying doesn't (yet) check that the deployer / signer = the voter, does it?

[2020-09-27 02:33] dckc commented on #35
ah... if the transaction succeeded, then the RevVault contract guarantees that the sender was the signer.

[2020-09-27 03:27] dckc commented on #69
I made some slides that cover the high level points:

 - [Voting in Rholang](https://docs.google.com/presentation/d/1LLwejP0QdhHwhjYd-LFIPBblj1owjBGHBgL_EWh80V8/edit?usp=sharing)

I may or may not go into more detail about the code.

[2020-09-27 09:29] MaximilianR commented on #69
Love these!

[2020-09-27 17:06] jimscarver commented on #34
The ballot uri now needs to be updated in https://github.com/rchain-community/rv2020/blob/master/public/index.html
`rho:id:5rcmyxwu8r7yywjz4qqg4ij3pox3d96joeky1gczdpf3fkaujejdxr`
the update is waiting for https://github.com/rchain-community/rv2020/pull/92

We will also need to update the registered voter rev account set
`rho:id:kiijxigqydnt7ds3w6w3ijdszswfysr3hpspthuyxz4yn3ksn4ckzf`

There there w

[2020-09-28 04:01] dckc commented on #69
Thanks to @MaximilianR 's encouragement, I went ahead with more details about the code, starting from first principles in a rho calculus crash course. The above high level bit is 12 or 13 slides; all together it's more like 30.

 - [Voting in Rholang](https://docs.google.com/presentation/d/1LLwejP0QdhHwhjYd-LFIPBblj1owjBGHBgL_EWh80V8/edit#slide=id.g9c72ba371b_0_1247)

[2020-09-28 09:50] MaximilianR commented on #69
Haha that is amazing! This educational content could be shared more widely, added to resource lists etc. A presentation on the community debrief would make sense as well, I think more people than me are interested in understanding Rholang a little more, and this short but very functional voting script is a perfect educational case study

[2020-09-29 17:23] dckc commented on #35
I'm inclined to implement tallying in SQL. should take just a few lines.

Should make for a good rholang prototype, too.

Tallying in rholang requires copying the indexed transactions into the RhoVM. That's more motivation to separate gathering the transactions from the tallying algorithm.

[2020-09-29 17:28] dckc commented on #77
@jimscarver in https://github.com/rchain-community/rv2020/issues/34#issuecomment-699661139
you refer to `rho:id:kiijxigqydnt7ds3w6w3ijdszswfysr3hpspthuyxz4yn3ksn4ckzf`

I don't find anything under that URI in the testnet registry. Is that from mainnet?

[2020-09-29 23:12] jimscarver commented on #77
I added abstain on the ballot-w-abstain branch at the addresses below. I return both the ballot and if they are registered or not but am unable to debug because metamask is no longer finding the rnode-client-js stuff. I tried a symbolic link in the vendor directory but that does not help.
[code]
Result
[code]
getting the ballot and flag out of the result and populating the contract with the abstai

[2020-09-30 03:20] dckc commented on #64
@nzpr reminded me about [Figma](https://www.figma.com/). I've heard good things about it. I encourage folks to play with it. (cc @OPNO @SteveHenley )

Meanwhile, I don't know what are the norms for taking figma designs and turning them into actual code.

I did a little searching and found something pretty cool. Boy, there is a lot of CSS stuff I don't know:

 - [Convert A Figma Design To A Real We

[2020-09-30 04:08] OPNO commented on #64
Thanks Dan and Nutzipper. Gonna check it out.

On Tue, Sep 29, 2020 at 8:20 PM Dan Connolly <notifications@github.com>
wrote:

--
https://www.rchain.coop/
http://www.darrylneudorf.com

[2020-09-30 17:34] dckc opened #96 "plain English rendition of rholang vote (a la gpt-3)"
nifty idea by @TheoXD

[2020-10-01 00:21] dckc commented on #69
I presented the slides today:

 - [2020\-09\-30 RChain Rholang voting app \- dckc \- DivvyDao on YouTube](https://www.youtube.com/watch?v=XY-kyfojbGQ)

got lots of positive feedback, so I went ahead and added a link in fa907ced02fd

Some folks are working on a nicer edit of the video.

![Voting in Rholang](https://user-images.githubusercontent.com/150986/94964103-d3e17e80-04be-11eb-8ee5-a714860520

[2020-10-01 00:30] TheoXD commented on #96
GPT-3 already can simplify legal documents and vice versa, generate fully functioning react applications out of plain english descriptions, so I think it would be cool to present users with a simple explaination behind any rholang code before signing, like for example
"By signing you grant this application to:  Send 1 revlette to <...>, send1 revlette to <...>, send 1 revlette to <...> and send 1

[2020-10-01 00:55] dckc commented on #96
I wonder if "... you grant this application to..." is simpler than the explanation provided by the existing UI: the form with radio buttons.

That is: the plain English version of what they're signing is more like "vote yes on Wiley E. Coyote for board member".

[2020-10-01 16:15] jimscarver commented on #77
The problem with storing sets was my error so I am reverting to use the Set of rev addresses stored on the chain.
[code]

[2020-10-01 21:17] jimscarver opened #98 "setting ballot and registered voters set uri's"
The ballot and registered voters set uri's are not constant. We need an way to specify them when deploying a particular ballot for a particular purpose.

[2020-10-02 18:13] dckc commented on #77
fixed in 50cf6ca56ec13eba4bdc3052e1603e369fa3abae

[2020-10-02 18:13] #77 closed, assigned to dckc

[2020-10-02 18:17] #54 closed, assigned to dckc

[2020-10-02 18:22] dckc commented on #98
This issue is more relevant to the official deployment then this beta / dev work.

https://github.com/rchain/rvote/issues/5
https://github.com/rchain/rvote/issues/4

[2020-10-02 18:22] #98 closed, assigned to nobody

[2020-10-02 18:26] #34 closed, assigned to dckc

[2020-10-02 18:31] jimscarver commented on #80
good job fixing this dan

[2020-10-02 18:31] #80 closed, assigned to dckc

[2020-10-02 18:49] #68 closed, assigned to dckc

[2020-10-02 18:49] #93 closed, assigned to dckc

[2020-10-02 18:58] jimscarver commented on #85
How about "voting success" for failure instead of "RESULT"

[2020-10-03 14:14] dckc commented on #59
https://www.qualtrics.com/support/survey-platform/survey-module/editing-questions/question-types-guide/standard-content/rank-order/

B and C same ranking? let's not.

[2020-10-03 14:17] dckc commented on #35
LGM prefers SQL to js for 2nd impl

sketch...

1. fetch transactions from index server (unfortunately trusted)
2. SQL

1. fetch, put on chain
2. rholang

wish: index server that stuffs into sql

[2020-10-03 14:59] dckc commented on #33
RESOLVED: to recommend rv2020 c45b154 for use by the secretary at the 2020 AGM, subject to changes at the discretion of the coop secretary, subject to approval by the governance committee.

@dckc
@ian-bloom
@SteveHenley
@jimscarver
@lrusu

@OPNO abstaining

[2020-10-03 14:59] #33 closed, assigned to SteveHenley

[2020-10-03 15:06] dckc commented on #61
@SteveHenley asks whether demoing Chrome suffices... seems ok; may mention others (see also #84).

Maybe caution against using Safari.

Steve started a script in a spreadsheet. (pointer, please?)

[2020-10-03 15:16] dckc commented on #26
doesn't need to be on the TODO list any more

[2020-10-03 15:16] #26 closed, assigned to SteveHenley

[2020-10-03 15:19] dckc commented on #64
enough for now

[2020-10-03 15:19] #64 closed, assigned to SteveHenley

[2020-10-03 17:27] jimscarver commented on #59
I suggest we need one rev address for each option and can send the amount of dust corresponding to the rank chosen.

@dckc if you still have the sample json for a rank order question from today's meeting please enter it here.

[2020-10-03 17:44] dckc commented on #59
[code]

[2020-10-04 17:45] dckc commented on #84
Folks using brave need to tweak their settings...
https://github.com/brave/brave-browser/issues/7166

![Screenshot at 2020-10-04 17-46-15](https://user-images.githubusercontent.com/150986/95023364-2b711d00-066c-11eb-8b42-40f41123eb02.png)

[2020-10-06 20:13] jimscarver commented on #59
work is on the https://github.com/rchain-community/rv2020/tree/rank-order branch led today by @fabcotech  and to be led by @TheoXD at thursday workstudy. Coordination will be in the colab https://discord.com/channels/257555930173014017/578571638321446913
- [x] short desc missing - add at top of rank choices
- [x] rank status html not processed
- [ ] rank status not updated when rank is changed
- [

[2020-10-06 20:20] dckc commented on #59
good progress.

I suggest using a checkbox for Abstain.

[2020-10-09 13:59] dckc commented on #69
fixed in 19ac55e

[2020-10-09 13:59] #69 closed, assigned to dckc

[2020-10-09 14:18] jimscarver commented on #78
10 test rev have been sent to all registered accounts using https://github.com/rchain-community/rv2020/blob/rank-order/src/cli/distributerev.rho

To use this on mainnet to fromAddr and uri of the Set of registered members needs to be updated.

[2020-10-10 14:08] dckc commented on #61
@SteveHenley estimates another week.

[2020-10-17 13:05] dckc commented on #61
Dune to my satisfaction
https://blog.rchain.coop/2020/10/14/voting-on-rchain/

[2020-10-17 13:05] #61 closed, assigned to SteveHenley

[2020-10-17 13:07] dckc commented on #78
Having this on the rank-order branch is awkward: I don't want to land most of that branch, but this looks good.

[2020-10-17 15:16] dckc opened #104 "generative testing for tally.sh vs tally.sql"
Now that we have two implementations with no known critical problems, let's separate the remaining QA from  issue #35 so that we can land #101 .

progress:
https://github.com/rchain-community/rv2020/pull/101/commits/423e2693fc118e1f600a73044a4cbe4d2cbe653a
https://github.com/rchain-community/rv2020/commit/dde055d6003e5172a1e7fc471e9eaf7c3cf05bb2

[2020-10-17 15:17] dckc opened #105 "tally in rholang"
Let's separate this from #101 so we can land it.

[2020-10-17 15:23] #78 closed, assigned to nobody

[2020-10-17 15:28] dckc commented on #59
postponed indefinitely in today's meeting

[2020-10-17 15:37] dckc commented on #84
done to my satisfaction in https://blog.rchain.coop/2020/10/14/voting-on-rchain/

thanks, @SteveHenley

[2020-10-17 15:37] #84 closed, assigned to nobody

[2020-10-17 15:49] dckc commented on #35
In today's meeting, we observed we have two implementations (`tally.sh` and `tally.sql`) with no outstanding critical issues.

Generative testing (#104) is still useful in due course. Rank order questions (#59 ) will involve a change to the tallying algorithm, but that's not in the near-term critical path.

@jimscarver noted `tally.sh` doesn't exclude votes before a start time (e.g. as part of a m

[2020-10-17 15:49] #35 closed, assigned to jimscarver

[2020-10-20 00:34] dckc commented on #85
fixed in 0ba7649

[2020-10-20 00:34] #85 closed, assigned to nobody

[2020-10-20 06:12] ian-bloom opened #106 "Compilation Failure"
After a clean clone of [rchain/rvote](https://github.com/rchain/rvote) fork I'm unable to `npm start` without webpack compilation failure.
I believe this is due to gitsubmodule pointing to the wrong version of [rnode-client-js](https://github.com/rchain-community/rnode-client-js/commit/72931bedd2c66cc83e437f34f9ab7f3a8a0ba76f)

**rchain/rvote** points to commit [72931](https://github.com/rchain-co

[2020-10-20 07:59] tgrospic commented on #106
@ian-bloom It's strange that you have `-` sign in front of commit hash for `rchain/rvote`.

I just tried to clone and start both repositories and they work as expected.

Can you try `rchain/rvote` from scratch?
[code]
This is my result for submodule status on `rchain/rvote`.
[code]

[2020-10-20 13:13] ian-bloom commented on #106
@tgrospic I get the same exact result after clone from scratch:`ℹ ｢wdm｣: Failed to compile.`:cry:

The difference between the repos:

all compiles nicely for me here

here I get compilation problems

[2020-10-20 13:29] tgrospic commented on #106
@ian-bloom Hm, I didn't look carefully. The server is started but I also see errors in compilation.
[code]

[2020-10-20 13:29] jimscarver commented on #106
I get failure also with submodule 72931bedd2c66cc...

[2020-10-20 13:35] tgrospic commented on #106
@ian-bloom I'm not sure how this can work because version in [rchain-community/rnode-client-js](https://github.com/rchain-community/rnode-client-js/tree/f12f100/src/web) is too old and e.g. it doesn't have [rnode-actions.js](https://github.com/tgrospic/rnode-client-js/blob/1312d92/src/web/rnode-actions.js) which is used [ballot.js](https://github.com/rchain/rvote/blob/0ba7649/src/web/ballot.js#L10

[2020-10-20 13:38] jimscarver commented on #106
https://github.com/rchain-community/rv2020 definatly works. it does not use rnode-client-js from rchain-community.

[2020-10-20 13:49] tgrospic commented on #106
I synched `rchain-community/rnode-client-js` repo to `tgrospic/rnode-client-js`.

[2020-10-20 13:50] ian-bloom commented on #106
@jimscarver - *rv2020* uses *rchain-community* version of rnode-client-js
[rnode-client-js @ 2c14d0a](https://github.com/rchain-community/rnode-client-js/tree/2c14d0ae514908cde766b5ef3eae3900c56e42d6)

[2020-10-20 13:55] tgrospic commented on #106
It seems that was enough to resolve compilations errors. I see now that `rchain-community/rv2020` starts correctly.
[code]

[2020-10-20 13:59] ian-bloom commented on #106
@tgrospic - That won't help.
Take a look at the [rv2020/src/vendor/](https://github.com/rchain-community/rv2020/tree/master/src/vendor) directory inside of rchain-community/rv2020

rvote2020 uses old 2c14d0a commit to (work around ethUtil undefined problem with webpack?)

[2020-10-20 14:05] tgrospic commented on #106
@ian-bloom you are right, this reference commit `2c14d0a` is not in master branch. I'm not sure why it not worked the first time and why it works after syncing the master.

[2020-10-20 14:09] tgrospic commented on #106
But on `rchain/rvote` reference is to different commit [rnode-client-js @ 72931be](https://github.com/rchain-community/rnode-client-js/tree/72931bedd2c66cc83e437f34f9ab7f3a8a0ba76f) which doesn't have Dan's changes

[2020-10-20 14:11] dckc commented on #106
@ian-bloom what was the purpose of e9532b9fc981d402def5b8dd5f986bedd0e8ba4d ?

[2020-10-20 14:12] tgrospic commented on #106
@ian-bloom it seems that your commit 2 days ago made this change https://github.com/rchain/rvote/commit/e9532b9fc981d402def5b8dd5f986bedd0e8ba4d.

[2020-10-20 14:13] ian-bloom commented on #106
I think that was from `git submodule update --init` that I ran as part of @dckc README.md

cd rv2020
git submodule update --init
npm install
npm start

[2020-10-20 14:15] ian-bloom commented on #106
Could I rebase to remove  e9532b9 ?
I'm not sure the commands.

[2020-10-20 14:20] #106 closed, assigned to nobody

[2020-10-26 16:14] dckc commented on #86
this no longer seems worth tracking

[2020-10-26 16:14] #86 closed, assigned to nobody

[2020-10-26 16:17] dckc commented on #21
I prefer to track this in the liquid-democracy repo.

[2020-10-26 16:17] #21 closed, assigned to dckc

[2020-10-26 16:18] dckc commented on #30
Anyone interested to work on this approach is welcome to re-open this issue, though a separate repo seems like a better way to go.

[2020-10-26 16:18] #30 closed, assigned to nobody

[2020-10-26 16:18] dckc commented on #28
Anyone interested to work on this approach is welcome to re-open this issue, though a separate repo seems like a better way to go.

[2020-10-26 16:18] #28 closed, assigned to TheoXD

[2020-10-26 16:24] #96 closed, assigned to nobody

[2020-10-26 16:25] dckc commented on #81
Anyone who makes tangible progress on this is welcome to re-open this issue.

[2020-10-26 16:25] #81 closed, assigned to nobody

[2021-06-07 05:04] dckc commented on #105
rgov does on-chain tallying:

https://github.com/rchain-community/rgov/blob/675a1991338bc8adace4e592891bcded1ec3762b/Issue.rho#L91-L129

[2021-06-12 15:41] jimscarver opened #114 "Fix URI's for new testnet."
- [ ] store the registered rev addresses on the new testnet and update uri in ballot.js
 - [ ] store the sample ballot on the new testnet and update uri in index.html